.Weather {
	border: 1px solid black;
	border-radius: 5px;
	background: #e8e8e8;
	margin-top: 10px;
	padding: 15px;
}

.Weather h1 {
	text-align: center;
	font-size: 32px;
	margin: 0;
	line-height: 1;
}

.Weather h2 {
	font-size: 36px;
	font-weight: 700;
}

.Weather h3 {
	font-size: 52px;
	font-weight: 700;
}

.Weather hr {
	color: tomato;
	margin: 30px auto;
}

.Weather form {
	margin: 0 auto;
	max-width: 500px;
}

.Weather .form-control:focus {
	border-color: tomato;
	box-shadow: 0 0 0 0.25rem rgba(255, 99, 71, 0.25);
}

.Weather ul {
	margin: 0;
	padding: 0;
}

.Weather li {
	list-style: none;
}

.Weather .weather-display {
	font-size: 18px;
	margin: 20px -5px 0 -5px;
	padding: 10px;
	background: white;
	border-radius: 5px;
}

.Weather .btn-light {
	border: 1px solid black;
	background: #e8e8e8;
}

.Weather .btn-light:hover {
	background: tomato;
	border: 1px solid black;
}

.Weather .btn-dark:hover {
	background: tomato;
}

.WeatherIcon {
	color: rgb(255, 99, 71, 0.6);
	font-size: 36px;
}

.WeatherInfo .WeatherIcon {
	margin-left: 30px;
}

.WeatherForecast {
	font-size: 18px;
	margin: 20px -5px 0 -5px;
	padding: 10px;
	background: white;
	border-radius: 5px;
	text-align: center;
}

.WeatherForecast .forecast-temp {
	font-size: 14px;
}

@media (max-width: 769px) {
	.Weather {
		text-align: center;
	}
	.WeatherInfo .WeatherIcon {
		margin-left: 0;
	}
}
